*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/*HEADER*/

header{
   
    background-color: rgb(255, 255, 255);
}

.nav-bar__1-half {
    float:left
}

.nav-bar__2-half{
  float: right;  
}

.nav-bar__list-item{
    display: inline-block;
    list-style: none;
    padding: 20px;
    vertical-align: middle;
}

.nav-bar__button{
    text-decoration: none;
    color: white;
    background-color:#0061FF;
    padding: 5px 20px;
}
.hero-container{
    background-color:#B4D0E7;
    padding: 100px;
    
}
.hero{
    width:1357px;
}

/* p{
    font-weight: 900;
} */

.hero-title{
    width: calc(100% / 9 * 9);
    font-size: 77px;
    
}
.hero-paragraph{
    width: calc(100% / 9 * 3);
    float: left;
    vertical-align: middle;
    position: relative;
    top: 104px;
    padding-right: 80px;
    
}

.hero-paragraph__button{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;
    background-color:#0061FF;
    padding: 5px 15px;
    border: none;
}

.hero-paragraph__button-style{
    text-decoration: none;
    color: white;
    
}

.hero-paragraph__arrow{
    padding-top: 100px;
    font-size: 50px;
}

.hero-immage{
    width: calc(100% / 9 * 6);
    float: left;
    
}
.hero-image-size{
   max-width: 100%;
}

/* Main*/

.article{
    width: 1010px;
    margin: auto; 
    background-color: rgb(255, 255, 255);
    
}
h2{
    font-size: 45px;
}

.col-3-9{
    width: calc(100% / 9 * 2.9);
    border: 1px solid gray;
    min-height: 700px;
    display: inline-block
    
}
.col-3-9__h5{
    text-align: center;
    border-bottom: 1px solid gray;
}

.radio-col-3-9{
    padding-top: 30px;
    padding-bottom: 20px;
}

.col-3-9__button{
    font-size: 15px;
    background-color:#0061FF;
    padding: 5px 15px;
    border: none;
    padding-left: 20px;
    margin-left: 10px;
}


li{
    list-style: none;
}

.col-3-9__ul{
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 10px;
}

.col-3-9__h5{
    padding: 10px;
}

.col-3-9__paragraph{
    margin-bottom: 50px;
    border-bottom: gray;
    border-bottom: 20px;
    padding-left: 10px;
    margin-top: 20px;
}

.col-3-9__ul-li{
    padding-bottom: 10px;
}

.col-3-9__ul-h4{
    padding-bottom: 20px;
}

.enterprise{
    width: 1010px;
    margin:auto;
    margin-top: 60px;
    border: 1px solid grey;
    margin-bottom: 100px;
}

.enterprise-title{
    width: 100%;
    text-align: center;
    border-bottom:1px solid grey;
    
}
.enterprise-box{
    width: 1010px;
   
}


.enterprise-text{
    width: calc(100% / 9 * 6);
    display: inline-block;
    
    padding: 20px;
    vertical-align: bottom;
}

.enterprise-button{
    width:calc(100% / 9 * 2.9 );
    display: inline-block;
    
    height: 102px;
    padding: 20px;
}

.enterprise-button__size{
    background-color:#0061FF;
    padding:10px 40px;
    color: white;
    border: none;
    
    
}

.article-partner-dropbox{
    width: calc(100% / 9 * 9);
    
}

.article-partner-dropbox__immage{
    width: 50%;
    float: left;
}
.article-partner-dropbox__immage-size{
    width: 100%;
    

}
.article-partner-dropbox__text{
    width: 50%;
    float: right;
    padding: 40px;
}
.article-partner-dropbox__title{
    margin-bottom: 30px;
}

.article-partner-dropbox__button{
    margin-top: 30px;
    padding: 5px 15px;
    border: 1px solid grey;
    background-color: white;
    
    
}

.col-3-9__immage{
    width: 100%;
}

.col-3-9__immage-size{
    width: 100%;
}

.col-3-9__no-border{
    width: calc(100% / 9 * 2.9);
    display: inline-block;
    padding: 40px;
}

.article__tail{
    margin-top: 100px;
    padding: 40px;
    width: 60%;
}
.article__tai-link{
    font-weight: 700;
    color: rgb(17, 110, 216);
}



.designit__1half{
   width: 100vw; 
    
}

.designit__1half-left-side{
    height: 20vw;
    width: 30%;

}
.designit__1half-left-side__square{
    width: 50%;
    height: 15vw;
    float: left;
    position: relative;
    background-color: skyblue;
    border: 1px solid;
}


.designit__1half-left-side__immage{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}